<div
  class="footer stickey-bottom d-md-flex d-sm-flex pb-4 justify-content-around pt-4 text-center"
>
  <div class="footer-items">
    <h4>Know More</h4>
    <p>About Us</p>
    <p>Resource & Policies</p>
    <p>Careers</p>
    <p>Trust & Safety</p>
  </div>

  <div class="d-none d-sm-block footer-items">
    <h4>Explors</h4>
    <p>Write a Review</p>
    <p>Add A Place</p>
   <a href="/blog/contact" >
    <p>Contact Us</p>
   </a>
  </div>
  <div class="footer-items">
    <h4>Connect With Us</h4>
    <a href="https://www.facebook.com"
      ><i class="fa-brands fa-square-facebook"></i
    ></a>
    <a href="https://www.instagram.com/abhishekkaushal2879/" class="ms-4"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/abhishek-kumar-kaushal-785611318/"
      class="ms-4"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a href="https://www.twitter.com" class="ms-4"
      ><i class="fa-brands fa-square-x-twitter"></i
    ></a>
  </div>
</div>
